<div class="max-w-6xl mx-auto py-6">
  <h1 class="text-3xl font-bold mb-2">Sales Dashboard</h1><br>

  <div class="grid md:grid-cols-2 gap-6">
        <div class="bg-[#FFFCFF] rounded-2xl border-2 border-[#F5D6B0] border-stone-200 p-6 pl-8">
          <div class="flex items-center justify-between mb-8 mt-6">
            <h2 class="text-3xl font-semibold">Total Sales</h2>
          </div>

          <div class="space-y-3 text-stone-800">
            <div class="flex items-center gap-2 font-bold text-4xl">
              <span>$</span>
              <span>999.99</span>
            </div>
            <div>
              <div class="font-semibold mb-10">From 66 Completed Order</div>
            </div>
          </div>
        </div>

        <div class="bg-[#FFFCFF] rounded-2xl border-2 border-[#F5D6B0] border-stone-200 p-6 pl-8">
          <div class="flex items-center justify-between mb-8 mt-6">
            <h2 class="text-3xl font-semibold">Today's Sales</h2>
          </div>

          <div class="space-y-3 text-stone-800">
            <div class="flex items-center gap-2 font-bold text-4xl">
              <span>$</span>
              <span>55.55</span>
            </div>
            <div>
              <div class="font-semibold mb-10">From 4 Completed Order</div>
            </div>
          </div>
        </div>

  </div>

  <h1 class="text-2xl font-bold mb-2 mt-10">Best Seller</h1><br>

  <div class="grid md:grid-cols-2 gap-6">
        <div class="bg-[#FFFCFF] rounded-2xl border-2 border-[#F5D6B0] border-stone-200 p-8 pl-8 pb-10">
          <div class="flex items-center justify-between mb-8 mt-2">
            <h2 class="text-3xl font-bold">Menu</h2>
            <span class="text-xl font-bold">Total Price</span>
          </div>

          <div class="space-y-3 text-stone-800">
            <div class="flex justify-between font-semibold">
                <span>Veggie Power Wrap</span>
                <span>555.55</span>
            </div>
            <div class="flex justify-between font-semibold">
                <span>Veggie Power Wrap</span>
            <span>555.55</span>
            </div>
            <div class="flex justify-between font-semibold">
                <span>Veggie Power Wrap</span>
                <span>555.55</span>
            </div>
          </div>
        </div>

        <div class="bg-[#FFFCFF] rounded-2xl border-2 border-[#F5D6B0] border-stone-200 p-8 pl-8 pb-10">
          <div class="flex items-center justify-between mb-8 mt-2">
            <h2 class="text-3xl font-bold">Topping</h2>
            <span class="text-xl font-bold">Total Price</span>
          </div>

          <div class="space-y-3 text-stone-800">
            <div class="flex justify-between font-semibold">
                <span>Pokkalat</span>
                <span>555.55</span>
            </div>
            <div class="flex justify-between font-semibold">
                <span>Pokkalat</span>
                <span>555.55</span>
            </div>
            <div class="flex justify-between font-semibold">
                <span>Pokkalat</span>
                <span>555.55</span>
            </div>
          </div>
        </div>

  </div>

  <h1 class="text-3xl font-bold mb-2 mt-10">Sales Dashboard</h1><br>

  <div class="bg-[#FFFCFF] rounded-2xl border-2 border-[#F5D6B0] border-stone-200 p-8 pl-8 pb-10">
    <table class="min-w-full border-collapse">
        <thead>
            <tr class="bg-[#FFFCFF] text-left">
                <th class="p-3 font-bold"></th>
                <th class="p-3 font-bold">Name</th>
                <th class="p-3 font-bold">Amount</th>
                <th class="p-3 font-bold">Price</th>
            </tr>
        </thead>
        <tbody class="text-stone-800">
            <tr class="bg-yellow-100">
                <td class="p-3 font-semibold">Topping</td>
                <td class="p-3">babab</td>
                <td class="p-3">5</td>
                <td class="p-3">555.55</td>
            </tr>
            <tr class="bg-yellow-100">
                <td></td>
                <td class="p-3">babab</td>
                <td class="p-3">5</td>
                <td class="p-3">555.55</td>
            </tr>
            <tr class="bg-yellow-100">
                <td></td>
                <td class="p-3">babab</td>
                <td class="p-3">5</td>
                <td class="p-3">555.55</td>
            </tr>
            <tr class="bg-yellow-100">
                <td></td>
                <td class="p-3">babab</td>
                <td class="p-3">5</td>
                <td class="p-3">555.55</td>
            </tr>

            <tr class="bg-pink-100">
        <td class="p-3 font-semibold">Topping</td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-pink-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-pink-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-pink-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>

      <!-- กลุ่ม 3 -->
      <tr class="bg-cyan-100">
        <td class="p-3 font-semibold">Topping</td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-cyan-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-cyan-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-cyan-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>

      <!-- กลุ่ม 4 -->
      <tr class="bg-purple-100">
        <td class="p-3 font-semibold">Topping</td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-purple-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-purple-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
      <tr class="bg-purple-100">
        <td></td>
        <td class="p-3">babab</td>
        <td class="p-3">5</td>
        <td class="p-3">555.55</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
