<nav class="w-full h-[80px] bg-[tomato] flex items-center justify-between px-8">
  <div class="text-[tomato] font-bold text-xl text-orange-500">MyWebsite</div>
  <ul class="flex space-x-6 text-white">
    <li><a href="/" class="hover:underline">Home</a></li>
    <li><a href="/about" class="hover:underline">About</a></li>
    <li><a href="/services" class="hover:underline">Services</a></li>
    <li><a href="/contact" class="hover:underline">Contact</a></li>
  </ul>
</nav>
