<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Demo Tailwind</title>
    <link rel="stylesheet" href="/asset/tailwind.css" />
  </head>
  <body>
<<<<<<< Updated upstream

    <!-- <%- include('./partials/menubar') %> -->

    <div class="font-poppins text-3xl font-bold text-orange-500 ">Hello Tailwind!</div>
=======
    <div class="text-3xl font-bold text-blue-500">Hello Tailwind!</div>
>>>>>>> Stashed changes
  </body>
</html>
