<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Demo Tailwind</title>
    <link rel="stylesheet" href="/asset/tailwind.css" />
  </head>
  <body class="bg-cloudLoom">

    <% if (isLogin) { %>
      <%- include('./components/login-Admin.ejs') %>
    <% } else { %>
      <%- include('./components/navbar.ejs') %>
    <% } %>

    <%- include('./components/Order.ejs', { orders: orders, counters: counters, activeTab: activeTab }) %>

  </body>
</html>
