<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Demo Tailwind</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/asset/tailwind.css" />
  </head>
  <body>
    <div class="font-poppins text-3xl font-bold text-blue-500">Hello Tailwind!</div>
  </body>
</html>
