<form action="/login" method="post">
  <div>
    <label for="identifier">Username or Email:</label>
    <input type="text" name="identifier" id="identifier" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
  </div>
  <button type="submit">Login</button>
</form>
